<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mygdx.game">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:appCategory="game"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidLauncher"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity android:name="code.apps.ripple.activityfolder.choosebg.BackgroundChooseActivity" />
        <activity android:name="code.apps.ripple.activityfolder.chooseparticle.ParticleChooseActivity" />
        <activity android:name="code.apps.ripple.activityfolder.Launcher">
        </activity>
        <activity android:name="code.apps.ripple.activityfolder.SettingsActivity" />

        <service
            android:name="code.apps.ripple.logic.Wallpaper"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
        </service>
    </application>

</manifest>